<?xml version="1.0"?>

<launch>
  <node name="tug_observer_node" pkg="tug_observers_python" type="observer_node.py" output="screen">
    
<!--     <param name="robot_control_loop_rate" type="double" value="1.0"/> -->
    <rosparam command="load" file="$(find tug_observers_python)/config/observer.yaml" />
  
  </node>

</launch>
