<?xml version="1.0"?>
<launch>

<node pkg="tug_ist_diagnosis_observers" type="GObs.py" name="sonarGObs" >
	<param name="topic" value="sonar" />
	<param name="frq" value="10.0057496218" />
	<param name="dev" value="0.1257793662743" />
	<param name="ws" value="10" />

</node>
<node pkg="tug_ist_diagnosis_observers" type="GObs.py" name="pitch_odomGObs" >
	<param name="topic" value="pitch_odom" />
	<param name="frq" value="10.006204833" />
	<param name="dev" value="1.1262938025483" />
	<param name="ws" value="10" />
</node>
<node pkg="tug_ist_diagnosis_observers" type="GObs.py" name="aioGObs" >
	<param name="topic" value="aio" />
	<param name="frq" value="10.0028917262" />
	<param name="dev" value="0.1250555251246" />
	<param name="ws" value="10" />
</node>
<node pkg="tug_ist_diagnosis_observers" type="GObs.py" name="pitch_imuGObs" >
	<param name="topic" value="pitch_imu" />
	<param name="frq" value="100.01947053" />
	<param name="dev" value="10.0716102518" />
	<param name="ws" value="10" />
</node>
<node pkg="tug_ist_diagnosis_observers" type="GObs.py" name="poseGObs" >
	<param name="topic" value="pose" />
	<param name="frq" value="10.0029060104" />
	<param name="dev" value="0.2255238374947" />
	<param name="ws" value="10" />
</node>

<node pkg="tug_ist_diagnosis_observers" type="GObs.py" name="scanGObs" >
	<param name="topic" value="scan" />
	<param name="frq" value="9.40790109456" />
	<param name="dev" value="0.5237465313849" />
	<param name="ws" value="10" />
</node>

<node pkg="tug_ist_diagnosis_observers" type="GObs.py" name="imu_dataGObs" >
	<param name="topic" value="imu_data" />
	<param name="frq" value="99.9076595" />
	<param name="dev" value="2.9082114426" />
	<param name="ws" value="100" />
</node>
<node pkg="tug_ist_diagnosis_observers" type="GObs.py" name="dioGObs" >
	<param name="topic" value="dio" />
	<param name="frq" value="10.0051512667" />
	<param name="dev" value="0.1260283400368" />
	<param name="ws" value="10" />
</node>
<node pkg="tug_ist_diagnosis_observers" type="GObs.py" name="gripper_stateGObs" >
	<param name="topic" value="gripper_state" />
	<param name="frq" value="10.0077649269" />
	<param name="dev" value="0.127475165115" />
	<param name="ws" value="10" />
</node>
<node pkg="tug_ist_diagnosis_observers" type="GObs.py" name="battery_stateGObs" >
	<param name="topic" value="battery_state" />
	<param name="frq" value="10.0048278309" />
	<param name="dev" value="0.125945485195" />
	<param name="ws" value="10" />
</node>
<node pkg="tug_ist_diagnosis_observers" type="GObs.py" name="yaw_imuGObs" >
	<param name="topic" value="yaw_imu" />
	<param name="frq" value="100.45486261" />
	<param name="dev" value="2.9892950361" />
	<param name="ws" value="100" />
</node>

<node pkg="tug_ist_diagnosis_observers" type="GObs.py" name="diagnosticsGObs" >
	<param name="topic" value="diagnostics" />
	<param name="frq" value="2.79352879664" />
	<param name="dev" value="1.9066468336" />
	<param name="ws" value="10" />
</node>
<node pkg="tug_ist_diagnosis_observers" type="GObs.py" name="roll_imuGObs" >
	<param name="topic" value="roll_imu" />
	<param name="frq" value="100.79164607" />
	<param name="dev" value="10.5364351169" />
	<param name="ws" value="100" />
</node>
<node pkg="tug_ist_diagnosis_observers" type="GObs.py" name="yaw_odomGObs" >
	<param name="topic" value="yaw_odom" />
	<param name="frq" value="9.9985487469" />
	<param name="dev" value="0.1253878786948" />
	<param name="ws" value="10" />
</node>

<node pkg="tug_ist_diagnosis_observers" type="GObs.py" name="roll_odomGObs" >
	<param name="topic" value="roll_odom" />
	<param name="frq" value="9.99500315117" />
	<param name="dev" value="1.1239238769925" />
	<param name="ws" value="10" />
</node>
<node pkg="tug_ist_diagnosis_observers" type="GObs.py" name="ptz_stateGObs" >
	<param name="topic" value="ptz_state" />
	<param name="frq" value="9.99592738018" />
	<param name="dev" value="0.2242414422669" />
	<param name="ws" value="10" />
</node>
<node pkg="tug_ist_diagnosis_observers" type="GObs.py" name="motor_stateGObs" >
	<param name="topic" value="motor_state" />
	<param name="frq" value="9.9962532685" />
	<param name="dev" value="0.2243956942654" />
	<param name="ws" value="10" />
</node>

<node pkg="tug_ist_diagnosis_observers" type="BiQObs.py" name="QObs1" >
	<param name="topic1" value="/pose" />
	<param name="field1" value="twist.twist.angular.z" />
	<param name="ws1" value="10" />
	<param name="pb1" value="0.0329" />
	<param name="nb1" value="-0.0161" />
	<param name="topic2" value="/yaw_odom" />
	<param name="field2" value="data" />
	<param name="ws2" value="10" />
	<param name="pb2" value="0.0053" />
	<param name="nb2" value="-0.000966" />
	<param name="reg" value="ny" />
</node>


<!--<node pkg="tug_ist_diagnosis_observers" type="BiQObs.py" name="QObs2" >
	<param name="topic1" value="/pose" />
	<param name="field1" value="pose.pose.position.y" />
	<param name="ws1" value="10" />
	<param name="pb1" value="0.3046" />
	<param name="nb1" value="-0.2792" />
	<param name="topic2" value="/pose" />
	<param name="field2" value="pose.pose.position.x" />
	<param name="ws2" value="10" />
	<param name="pb2" value="47.6861" />
	<param name="nb2" value="-77.8642" />
	<param name="reg" value="yn" />
</node>-->

<!--<node pkg="tug_ist_diagnosis_observers" type="BiQObs.py" name="QObs3" >
	<param name="topic1" value="/pose" />
	<param name="field1" value="pose.pose.position.y" />
	<param name="ws1" value="10" />
	<param name="pb1" value="0.3046" />
	<param name="nb1" value="-0.2792" />
	<param name="topic2" value="/yaw_odom" />
	<param name="field2" value="data" />
	<param name="ws2" value="10" />
	<param name="pb2" value="23.9164" />
	<param name="nb2" value="-12.059" />
	<param name="reg" value="yn" />
</node>-->
<!--<node pkg="tug_ist_diagnosis_observers" type="BiQObs.py" name="QObs4" >
	<param name="topic1" value="/pose" />
	<param name="field1" value="twist.twist.angular.z" />
	<param name="ws1" value="10" />
	<param name="pb1" value="0.0066" />
	<param name="nb1" value="-0.0059" />
	<param name="topic2" value="/yaw_odom" />
	<param name="field2" value="data" />
	<param name="ws2" value="10" />
	<param name="pb2" value="0.0053" />
	<param name="nb2" value="-0.000966" />
	<param name="reg" value="yy" />
</node>-->
<!--<node pkg="tug_ist_diagnosis_observers" type="BiQObs.py" name="QObs5" >
	<param name="topic1" value="/pose" />
	<param name="field1" value="twist.twist.angular.z" />
	<param name="ws1" value="10" />
	<param name="pb1" value="0.0329" />
	<param name="nb1" value="-0.0161" />
	<param name="topic2" value="/yaw_imu" />
	<param name="field2" value="data" />
	<param name="ws2" value="100" />
	<param name="pb2" value="0.0303" />
	<param name="nb2" value="-0.0279" />
	<param name="reg" value="ny" />
</node>-->

<!--<node pkg="tug_ist_diagnosis_observers" type="BiQObs.py" name="QObs6" >
	<param name="topic1" value="/yaw_imu" />
	<param name="field1" value="data" />
	<param name="pb1" value="0.0303" />
	<param name="nb1" value="-0.0279" />
	<param name="ws1" value="100" />
	<param name="topic2" value="/yaw_odom" />
	<param name="field2" value="data" />
	<param name="pb2" value="0.0053" />
	<param name="nb2" value="-0.000966" />
	<param name="ws2" value="10" />
	<param name="reg" value="yy" />
</node>-->



</launch>
