<?xml version="1.0"?>
<launch>
<node pkg="tug_ist_diagnosis_observers" type="NObs.py" name="gmappingNObs" >
	<param name="node" value="gmapping" />
</node>
<node pkg="tug_ist_diagnosis_observers" type="PObs.py" name="gmappingCpuPObs" >
	<param name="node" value="gmapping" />
	<param name="property" value="cpu" />
	<param name="max_val" value="146.868999815" />
	<param name="mismatch_th" value="5" />
	<param name="ws" value="10" />
</node>
<node pkg="tug_ist_diagnosis_observers" type="PObs.py" name="gmappingMemPObs" >
	<param name="node" value="gmapping" />
	<param name="property" value="mem" />
	<param name="max_val" value="1036036.62987" />
	<param name="mismatch_th" value="5" />
	<param name="ws" value="10" />
</node>
<node pkg="tug_ist_diagnosis_observers" type="NObs.py" name="p2osNObs" >
	<param name="node" value="p2os" />
</node>
<node pkg="tug_ist_diagnosis_observers" type="PObs.py" name="p2osCpuPObs" >
	<param name="node" value="p2os" />
	<param name="property" value="cpu" />
	<param name="max_val" value="3.73938769134" />
	<param name="mismatch_th" value="5" />
	<param name="ws" value="10" />
</node>
<node pkg="tug_ist_diagnosis_observers" type="PObs.py" name="p2osMemPObs" >
	<param name="node" value="p2os" />
	<param name="property" value="mem" />
	<param name="max_val" value="393584.0" />
	<param name="mismatch_th" value="5" />
	<param name="ws" value="10" />
</node>
<node pkg="tug_ist_diagnosis_observers" type="NObs.py" name="xsens_driverNObs" >
	<param name="node" value="xsens_driver" />
</node>
<node pkg="tug_ist_diagnosis_observers" type="PObs.py" name="xsens_driverCpuPObs" >
	<param name="node" value="xsens_driver" />
	<param name="property" value="cpu" />
	<param name="max_val" value="12.1897297646" />
	<param name="mismatch_th" value="5" />
	<param name="ws" value="10" />
</node>
<node pkg="tug_ist_diagnosis_observers" type="PObs.py" name="xsens_driverMemPObs" >
	<param name="node" value="xsens_driver" />
	<param name="property" value="mem" />
	<param name="max_val" value="839976.0" />
	<param name="mismatch_th" value="5" />
	<param name="ws" value="10" />
</node>
<node pkg="tug_ist_diagnosis_observers" type="NObs.py" name="rpy_4_odom_imu_map_nodeNObs" >
	<param name="node" value="rpy_4_odom_imu_map_node" />
</node>
<node pkg="tug_ist_diagnosis_observers" type="PObs.py" name="rpy_4_odom_imu_map_nodeCpuPObs" >
	<param name="node" value="rpy_4_odom_imu_map_node" />
	<param name="property" value="cpu" />
	<param name="max_val" value="8.0567404227" />
	<param name="mismatch_th" value="5" />
	<param name="ws" value="10" />
</node>
<node pkg="tug_ist_diagnosis_observers" type="PObs.py" name="rpy_4_odom_imu_map_nodeMemPObs" >
	<param name="node" value="rpy_4_odom_imu_map_node" />
	<param name="property" value="mem" />
	<param name="max_val" value="466820.0" />
	<param name="mismatch_th" value="5" />
	<param name="ws" value="10" />
</node>
<node pkg="tug_ist_diagnosis_observers" type="NObs.py" name="static_tfNObs" >
	<param name="node" value="static_tf" />
</node>
<node pkg="tug_ist_diagnosis_observers" type="PObs.py" name="static_tfCpuPObs" >
	<param name="node" value="static_tf" />
	<param name="property" value="cpu" />
	<param name="max_val" value="2.60415530713" />
	<param name="mismatch_th" value="5" />
	<param name="ws" value="10" />
</node>
<node pkg="tug_ist_diagnosis_observers" type="PObs.py" name="static_tfMemPObs" >
	<param name="node" value="static_tf" />
	<param name="property" value="mem" />
	<param name="max_val" value="392968.0" />
	<param name="mismatch_th" value="5" />
	<param name="ws" value="10" />
</node>
<node pkg="tug_ist_diagnosis_observers" type="NObs.py" name="sicklmsNObs" >
	<param name="node" value="sicklms" />
</node>
<node pkg="tug_ist_diagnosis_observers" type="PObs.py" name="sicklmsCpuPObs" >
	<param name="node" value="sicklms" />
	<param name="property" value="cpu" />
	<param name="max_val" value="5.20713490295" />
	<param name="mismatch_th" value="5" />
	<param name="ws" value="10" />
</node>
<node pkg="tug_ist_diagnosis_observers" type="PObs.py" name="sicklmsMemPObs" >
	<param name="node" value="sicklms" />
	<param name="property" value="mem" />
	<param name="max_val" value="466624.0" />
	<param name="mismatch_th" value="5" />
	<param name="ws" value="10" />
</node>
<node pkg="tug_ist_diagnosis_observers" type="NObs.py" name="joy_nodeNObs" >
	<param name="node" value="joy_node" />
</node>
<node pkg="tug_ist_diagnosis_observers" type="PObs.py" name="joy_nodeCpuPObs" >
	<param name="node" value="joy_node" />
	<param name="property" value="cpu" />
	<param name="max_val" value="1.05673461054" />
	<param name="mismatch_th" value="5" />
	<param name="ws" value="10" />
</node>
<node pkg="tug_ist_diagnosis_observers" type="PObs.py" name="joy_nodeMemPObs" >
	<param name="node" value="joy_node" />
	<param name="property" value="mem" />
	<param name="max_val" value="390660.0" />
	<param name="mismatch_th" value="5" />
	<param name="ws" value="10" />
</node>
<node pkg="tug_ist_diagnosis_observers" type="NObs.py" name="teleop_joyNObs" >
	<param name="node" value="teleop_joy" />
</node>
<node pkg="tug_ist_diagnosis_observers" type="PObs.py" name="teleop_joyCpuPObs" >
	<param name="node" value="teleop_joy" />
	<param name="property" value="cpu" />
	<param name="max_val" value="2.38527692239" />
	<param name="mismatch_th" value="5" />
	<param name="ws" value="10" />
</node>
<node pkg="tug_ist_diagnosis_observers" type="PObs.py" name="teleop_joyMemPObs" >
	<param name="node" value="teleop_joy" />
	<param name="property" value="mem" />
	<param name="max_val" value="390608.0" />
	<param name="mismatch_th" value="5" />
	<param name="ws" value="10" />
</node>
<node pkg="tug_ist_diagnosis_observers" type="NObs.py" name="record_1375542831086147621NObs" >
	<param name="node" value="record_1375542831086147621" />
</node>
<node pkg="tug_ist_diagnosis_observers" type="PObs.py" name="record_1375542831086147621CpuPObs" >
	<param name="node" value="record_1375542831086147621" />
	<param name="property" value="cpu" />
	<param name="max_val" value="24.8904173317" />
	<param name="mismatch_th" value="5" />
	<param name="ws" value="10" />
</node>
<node pkg="tug_ist_diagnosis_observers" type="PObs.py" name="record_1375542831086147621MemPObs" >
	<param name="node" value="record_1375542831086147621" />
	<param name="property" value="mem" />
	<param name="max_val" value="1322068.0" />
	<param name="mismatch_th" value="5" />
	<param name="ws" value="10" />
</node>
<node pkg="tug_ist_diagnosis_observers" type="NObs.py" name="rosoutNObs" >
	<param name="node" value="rosout" />
</node>
<node pkg="tug_ist_diagnosis_observers" type="PObs.py" name="rosoutCpuPObs" >
	<param name="node" value="rosout" />
	<param name="property" value="cpu" />
	<param name="max_val" value="5.37226881672" />
	<param name="mismatch_th" value="5" />
	<param name="ws" value="10" />
</node>
<node pkg="tug_ist_diagnosis_observers" type="PObs.py" name="rosoutMemPObs" >
	<param name="node" value="rosout" />
	<param name="property" value="mem" />
	<param name="max_val" value="316920.0" />
	<param name="mismatch_th" value="5" />
	<param name="ws" value="10" />
</node>
<node pkg="tug_ist_diagnosis_observers" type="GObs.py" name="map_metadataGObs" >
	<param name="topic" value="map_metadata" />
	<param name="frq" value="6.32761696867" />
	<param name="dev" value="0.982547785338" />
	<param name="ws" value="63.2761696867" />
</node>
<node pkg="tug_ist_diagnosis_observers" type="GObs.py" name="sonarGObs" >
	<param name="topic" value="sonar" />
	<param name="frq" value="0.100166456554" />
	<param name="dev" value="0.0731294052488" />
	<param name="ws" value="1.00166456554" />
</node>
<node pkg="tug_ist_diagnosis_observers" type="GObs.py" name="motor_stateGObs" >
	<param name="topic" value="motor_state" />
	<param name="frq" value="0.100165903219" />
	<param name="dev" value="0.0716557514219" />
	<param name="ws" value="1.00165903219" />
</node>
<node pkg="tug_ist_diagnosis_observers" type="GObs.py" name="pitch_imuGObs" >
	<param name="topic" value="pitch_imu" />
	<param name="frq" value="0.00999680696492" />
	<param name="dev" value="0.0622176278223" />
	<param name="ws" value="0.0999680696492" />
</node>
<node pkg="tug_ist_diagnosis_observers" type="GObs.py" name="tfGObs" >
	<param name="topic" value="tf" />
	<param name="frq" value="0.0250181878567" />
	<param name="dev" value="0.0486434849284" />
	<param name="ws" value="0.250181878567" />
</node>
<node pkg="tug_ist_diagnosis_observers" type="GObs.py" name="poseGObs" >
	<param name="topic" value="pose" />
	<param name="frq" value="0.100165863757" />
	<param name="dev" value="0.0713954990524" />
	<param name="ws" value="1.00165863757" />
</node>
<node pkg="tug_ist_diagnosis_observers" type="GObs.py" name="roll_imuGObs" >
	<param name="topic" value="roll_imu" />
	<param name="frq" value="0.00999691442662" />
	<param name="dev" value="0.062204115271" />
	<param name="ws" value="0.0999691442662" />
</node>
<node pkg="tug_ist_diagnosis_observers" type="GObs.py" name="scanGObs" >
	<param name="topic" value="scan" />
	<param name="frq" value="0.106703183906" />
	<param name="dev" value="0.0744107843965" />
	<param name="ws" value="1.06703183906" />
</node>
<node pkg="tug_ist_diagnosis_observers" type="GObs.py" name="velocityGObs" >
	<param name="topic" value="velocity" />
	<param name="frq" value="0.0100002745789" />
	<param name="dev" value="0.023552729669" />
	<param name="ws" value="0.100002745789" />
</node>
<node pkg="tug_ist_diagnosis_observers" type="GObs.py" name="pitch_odomGObs" >
	<param name="topic" value="pitch_odom" />
	<param name="frq" value="0.100168176389" />
	<param name="dev" value="0.0729935940536" />
	<param name="ws" value="1.00168176389" />
</node>
<node pkg="tug_ist_diagnosis_observers" type="GObs.py" name="imu_dataGObs" >
	<param name="topic" value="imu_data" />
	<param name="frq" value="0.0100002546956" />
	<param name="dev" value="0.0312996230484" />
	<param name="ws" value="0.100002546956" />
</node>
<node pkg="tug_ist_diagnosis_observers" type="GObs.py" name="dioGObs" >
	<param name="topic" value="dio" />
	<param name="frq" value="0.10016599335" />
	<param name="dev" value="0.0712213092942" />
	<param name="ws" value="1.0016599335" />
</node>
<node pkg="tug_ist_diagnosis_observers" type="GObs.py" name="gripper_stateGObs" >
	<param name="topic" value="gripper_state" />
	<param name="frq" value="0.100166011706" />
	<param name="dev" value="0.0713782232488" />
	<param name="ws" value="1.00166011706" />
</node>
<node pkg="tug_ist_diagnosis_observers" type="GObs.py" name="battery_stateGObs" >
	<param name="topic" value="battery_state" />
	<param name="frq" value="0.100165778986" />
	<param name="dev" value="0.0711937029994" />
	<param name="ws" value="1.00165778986" />
</node>
<node pkg="tug_ist_diagnosis_observers" type="GObs.py" name="yaw_imuGObs" >
	<param name="topic" value="yaw_imu" />
	<param name="frq" value="0.00999680888958" />
	<param name="dev" value="0.0623228766653" />
	<param name="ws" value="0.0999680888958" />
</node>
<node pkg="tug_ist_diagnosis_observers" type="GObs.py" name="mapGObs" >
	<param name="topic" value="map" />
	<param name="frq" value="6.31894410623" />
	<param name="dev" value="0.926697867063" />
	<param name="ws" value="63.1894410623" />
</node>
<node pkg="tug_ist_diagnosis_observers" type="GObs.py" name="diagnosticsGObs" >
	<param name="topic" value="diagnostics" />
	<param name="frq" value="0.356243134973" />
	<param name="dev" value="0.546511036541" />
	<param name="ws" value="3.56243134973" />
</node>
<node pkg="tug_ist_diagnosis_observers" type="GObs.py" name="cmd_velGObs" >
	<param name="topic" value="cmd_vel" />
	<param name="frq" value="0.0751797062453" />
	<param name="dev" value="0.106203721322" />
	<param name="ws" value="0.751797062453" />
</node>
<node pkg="tug_ist_diagnosis_observers" type="GObs.py" name="rosoutGObs" >
	<param name="topic" value="rosout" />
	<param name="frq" value="0.00908955973134" />
	<param name="dev" value="0.0591062188767" />
	<param name="ws" value="0.0908955973134" />
</node>
<node pkg="tug_ist_diagnosis_observers" type="GObs.py" name="yaw_odomGObs" >
	<param name="topic" value="yaw_odom" />
	<param name="frq" value="0.100167797077" />
	<param name="dev" value="0.0732662200494" />
	<param name="ws" value="1.00167797077" />
</node>
<node pkg="tug_ist_diagnosis_observers" type="GObs.py" name="rosout_aggGObs" >
	<param name="topic" value="rosout_agg" />
	<param name="frq" value="0.00908938338263" />
	<param name="dev" value="0.05906963436" />
	<param name="ws" value="0.0908938338263" />
</node>
<node pkg="tug_ist_diagnosis_observers" type="GObs.py" name="roll_odomGObs" >
	<param name="topic" value="roll_odom" />
	<param name="frq" value="0.100164606905" />
	<param name="dev" value="0.0731308260272" />
	<param name="ws" value="1.00164606905" />
</node>
<node pkg="tug_ist_diagnosis_observers" type="GObs.py" name="ptz_stateGObs" >
	<param name="topic" value="ptz_state" />
	<param name="frq" value="0.100164803455" />
	<param name="dev" value="0.0732496567272" />
	<param name="ws" value="1.00164803455" />
</node>
<node pkg="tug_ist_diagnosis_observers" type="GObs.py" name="aioGObs" >
	<param name="topic" value="aio" />
	<param name="frq" value="0.100164962634" />
	<param name="dev" value="0.0704773335345" />
	<param name="ws" value="1.00164962634" />
</node>
<node pkg="tug_ist_diagnosis_observers" type="GObs.py" name="gmapping/entropyGObs" >
	<param name="topic" value="gmapping/entropy" />
	<param name="frq" value="6.84876654365" />
	<param name="dev" value="3.35135322862" />
	<param name="ws" value="68.4876654365" />
</node>
<node pkg="tug_ist_diagnosis_observers" type="GObs.py" name="joyGObs" >
	<param name="topic" value="joy" />
	<param name="frq" value="0.232426824944" />
	<param name="dev" value="3.11718382334" />
	<param name="ws" value="2.32426824944" />
</node>
<node pkg="tug_ist_diagnosis_observers" type="GObs.py" name="gyro_imuGObs" >
	<param name="topic" value="gyro_imu" />
	<param name="frq" value="0.00999695156377" />
	<param name="dev" value="0.0623409595295" />
	<param name="ws" value="0.0999695156377" />
</node>
</launch>
