<?xml version="1.0"?>
<launch>
<node pkg="tug_ist_diagnosis_observers" type="NObs.py" name="gmappingNObs" >
	<param name="node" value="gmapping" />
</node>
<node pkg="tug_ist_diagnosis_observers" type="PObs.py" name="gmappingCpuPObs" >
	<param name="node" value="gmapping" />
	<param name="property" value="cpu" />
	<param name="max_val" value="90.8160401089" />
	<param name="mismatch_th" value="5" />
	<param name="ws" value="10" />
</node>
<node pkg="tug_ist_diagnosis_observers" type="PObs.py" name="gmappingMemPObs" >
	<param name="node" value="gmapping" />
	<param name="property" value="mem" />
	<param name="max_val" value="9.96566815763" />
	<param name="mismatch_th" value="5" />
	<param name="ws" value="10" />
</node>
<node pkg="tug_ist_diagnosis_observers" type="NObs.py" name="p2osNObs" >
	<param name="node" value="p2os" />
</node>
<node pkg="tug_ist_diagnosis_observers" type="PObs.py" name="p2osCpuPObs" >
	<param name="node" value="p2os" />
	<param name="property" value="cpu" />
	<param name="max_val" value="2.8053599277" />
	<param name="mismatch_th" value="5" />
	<param name="ws" value="10" />
</node>
<node pkg="tug_ist_diagnosis_observers" type="PObs.py" name="p2osMemPObs" >
	<param name="node" value="p2os" />
	<param name="property" value="mem" />
	<param name="max_val" value="0.2" />
	<param name="mismatch_th" value="5" />
	<param name="ws" value="10" />
</node>
<node pkg="tug_ist_diagnosis_observers" type="NObs.py" name="rpy_4_odom_imu_map_nodeNObs" >
	<param name="node" value="rpy_4_odom_imu_map_node" />
</node>
<node pkg="tug_ist_diagnosis_observers" type="PObs.py" name="rpy_4_odom_imu_map_nodeCpuPObs" >
	<param name="node" value="rpy_4_odom_imu_map_node" />
	<param name="property" value="cpu" />
	<param name="max_val" value="3.59336996309" />
	<param name="mismatch_th" value="5" />
	<param name="ws" value="10" />
</node>
<node pkg="tug_ist_diagnosis_observers" type="PObs.py" name="rpy_4_odom_imu_map_nodeMemPObs" >
	<param name="node" value="rpy_4_odom_imu_map_node" />
	<param name="property" value="mem" />
	<param name="max_val" value="0.2" />
	<param name="mismatch_th" value="5" />
	<param name="ws" value="10" />
</node>
<node pkg="tug_ist_diagnosis_observers" type="NObs.py" name="static_tfNObs" >
	<param name="node" value="static_tf" />
</node>
<node pkg="tug_ist_diagnosis_observers" type="PObs.py" name="static_tfCpuPObs" >
	<param name="node" value="static_tf" />
	<param name="property" value="cpu" />
	<param name="max_val" value="1.27220826345" />
	<param name="mismatch_th" value="5" />
	<param name="ws" value="10" />
</node>
<node pkg="tug_ist_diagnosis_observers" type="PObs.py" name="static_tfMemPObs" >
	<param name="node" value="static_tf" />
	<param name="property" value="mem" />
	<param name="max_val" value="0.2" />
	<param name="mismatch_th" value="5" />
	<param name="ws" value="10" />
</node>
<node pkg="tug_ist_diagnosis_observers" type="NObs.py" name="sicklmsNObs" >
	<param name="node" value="sicklms" />
</node>
<node pkg="tug_ist_diagnosis_observers" type="PObs.py" name="sicklmsCpuPObs" >
	<param name="node" value="sicklms" />
	<param name="property" value="cpu" />
	<param name="max_val" value="4.31686336629" />
	<param name="mismatch_th" value="5" />
	<param name="ws" value="10" />
</node>
<node pkg="tug_ist_diagnosis_observers" type="PObs.py" name="sicklmsMemPObs" >
	<param name="node" value="sicklms" />
	<param name="property" value="mem" />
	<param name="max_val" value="0.2" />
	<param name="mismatch_th" value="5" />
	<param name="ws" value="10" />
</node>
<node pkg="tug_ist_diagnosis_observers" type="NObs.py" name="joy_nodeNObs" >
	<param name="node" value="joy_node" />
</node>
<node pkg="tug_ist_diagnosis_observers" type="PObs.py" name="joy_nodeCpuPObs" >
	<param name="node" value="joy_node" />
	<param name="property" value="cpu" />
	<param name="max_val" value="1.43023985822" />
	<param name="mismatch_th" value="5" />
	<param name="ws" value="10" />
</node>
<node pkg="tug_ist_diagnosis_observers" type="PObs.py" name="joy_nodeMemPObs" >
	<param name="node" value="joy_node" />
	<param name="property" value="mem" />
	<param name="max_val" value="0.2" />
	<param name="mismatch_th" value="5" />
	<param name="ws" value="10" />
</node>
<node pkg="tug_ist_diagnosis_observers" type="NObs.py" name="teleop_joyNObs" >
	<param name="node" value="teleop_joy" />
</node>
<node pkg="tug_ist_diagnosis_observers" type="PObs.py" name="teleop_joyCpuPObs" >
	<param name="node" value="teleop_joy" />
	<param name="property" value="cpu" />
	<param name="max_val" value="1.70342286217" />
	<param name="mismatch_th" value="5" />
	<param name="ws" value="10" />
</node>
<node pkg="tug_ist_diagnosis_observers" type="PObs.py" name="teleop_joyMemPObs" >
	<param name="node" value="teleop_joy" />
	<param name="property" value="mem" />
	<param name="max_val" value="0.2" />
	<param name="mismatch_th" value="5" />
	<param name="ws" value="10" />
</node>
<node pkg="tug_ist_diagnosis_observers" type="NObs.py" name="rosoutNObs" >
	<param name="node" value="rosout" />
</node>
<node pkg="tug_ist_diagnosis_observers" type="PObs.py" name="rosoutCpuPObs" >
	<param name="node" value="rosout" />
	<param name="property" value="cpu" />
	<param name="max_val" value="2.60252359533" />
	<param name="mismatch_th" value="5" />
	<param name="ws" value="10" />
</node>
<node pkg="tug_ist_diagnosis_observers" type="PObs.py" name="rosoutMemPObs" >
	<param name="node" value="rosout" />
	<param name="property" value="mem" />
	<param name="max_val" value="0.2" />
	<param name="mismatch_th" value="5" />
	<param name="ws" value="10" />
</node>
<node pkg="tug_ist_diagnosis_observers" type="NObs.py" name="record_1370556103805278450NObs" >
	<param name="node" value="record_1370556103805278450" />
</node>
<node pkg="tug_ist_diagnosis_observers" type="PObs.py" name="record_1370556103805278450CpuPObs" >
	<param name="node" value="record_1370556103805278450" />
	<param name="property" value="cpu" />
	<param name="max_val" value="33.3095419461" />
	<param name="mismatch_th" value="5" />
	<param name="ws" value="10" />
</node>
<node pkg="tug_ist_diagnosis_observers" type="PObs.py" name="record_1370556103805278450MemPObs" >
	<param name="node" value="record_1370556103805278450" />
	<param name="property" value="mem" />
	<param name="max_val" value="2.36882746645" />
	<param name="mismatch_th" value="5" />
	<param name="ws" value="10" />
</node>
<node pkg="tug_ist_diagnosis_observers" type="GObs.py" name="map_metadataGObs" >
	<param name="topic" value="map_metadata" />
	<param name="frq" value="0.161220308537" />
	<param name="dev" value="0.00144919201376" />
	<param name="ws" value="10" />
</node>
<node pkg="tug_ist_diagnosis_observers" type="GObs.py" name="sonarGObs" >
	<param name="topic" value="sonar" />
	<param name="frq" value="10.0036672434" />
	<param name="dev" value="0.021212653957" />
	<param name="ws" value="10" />
</node>
<node pkg="tug_ist_diagnosis_observers" type="GObs.py" name="pitch_odomGObs" >
	<param name="topic" value="pitch_odom" />
	<param name="frq" value="10.0031116963" />
	<param name="dev" value="0.0208978992963" />
	<param name="ws" value="10" />
</node>
<node pkg="tug_ist_diagnosis_observers" type="GObs.py" name="motor_stateGObs" >
	<param name="topic" value="motor_state" />
	<param name="frq" value="10.0044363498" />
	<param name="dev" value="0.0215858888916" />
	<param name="ws" value="10" />
</node>
<node pkg="tug_ist_diagnosis_observers" type="GObs.py" name="tfGObs" >
	<param name="topic" value="tf" />
	<param name="frq" value="31.719454495" />
	<param name="dev" value="0.725369756127" />
	<param name="ws" value="10" />
</node>
<node pkg="tug_ist_diagnosis_observers" type="GObs.py" name="poseGObs" >
	<param name="topic" value="pose" />
	<param name="frq" value="10.0049384003" />
	<param name="dev" value="0.0215407486784" />
	<param name="ws" value="10" />
</node>
<node pkg="tug_ist_diagnosis_observers" type="GObs.py" name="scanGObs" >
	<param name="topic" value="scan" />
	<param name="frq" value="9.3939720634" />
	<param name="dev" value="0.0185251392298" />
	<param name="ws" value="10" />
</node>
<node pkg="tug_ist_diagnosis_observers" type="GObs.py" name="dioGObs" >
	<param name="topic" value="dio" />
	<param name="frq" value="10.0042631586" />
	<param name="dev" value="0.0212689698917" />
	<param name="ws" value="10" />
</node>
<node pkg="tug_ist_diagnosis_observers" type="GObs.py" name="gripper_stateGObs" >
	<param name="topic" value="gripper_state" />
	<param name="frq" value="10.0047202797" />
	<param name="dev" value="0.021490767598" />
	<param name="ws" value="10" />
</node>
<node pkg="tug_ist_diagnosis_observers" type="GObs.py" name="battery_stateGObs" >
	<param name="topic" value="battery_state" />
	<param name="frq" value="10.0048596018" />
	<param name="dev" value="0.0215309836747" />
	<param name="ws" value="10" />
</node>
<node pkg="tug_ist_diagnosis_observers" type="GObs.py" name="mapGObs" >
	<param name="topic" value="map" />
	<param name="frq" value="0.161224884925" />
	<param name="dev" value="0.00142558933967" />
	<param name="ws" value="10" />
</node>
<node pkg="tug_ist_diagnosis_observers" type="GObs.py" name="diagnosticsGObs" >
	<param name="topic" value="diagnostics" />
	<param name="frq" value="0.914611369156" />
	<param name="dev" value="0.00697376171611" />
	<param name="ws" value="10" />
</node>
<node pkg="tug_ist_diagnosis_observers" type="GObs.py" name="cmd_velGObs" >
	<param name="topic" value="cmd_vel" />
	<param name="frq" value="15.5215626989" />
	<param name="dev" value="0.254251653207" />
	<param name="ws" value="10" />
</node>
<node pkg="tug_ist_diagnosis_observers" type="GObs.py" name="rosoutGObs" >
	<param name="topic" value="rosout" />
	<param name="frq" value="14.8912179659" />
	<param name="dev" value="2.23159842628" />
	<param name="ws" value="10" />
</node>
<node pkg="tug_ist_diagnosis_observers" type="GObs.py" name="yaw_odomGObs" >
	<param name="topic" value="yaw_odom" />
	<param name="frq" value="10.0034996797" />
	<param name="dev" value="0.0208605375669" />
	<param name="ws" value="10" />
</node>
<node pkg="tug_ist_diagnosis_observers" type="GObs.py" name="rosout_aggGObs" >
	<param name="topic" value="rosout_agg" />
	<param name="frq" value="14.8847008689" />
	<param name="dev" value="2.2422687132" />
	<param name="ws" value="10" />
</node>
<node pkg="tug_ist_diagnosis_observers" type="GObs.py" name="roll_odomGObs" >
	<param name="topic" value="roll_odom" />
	<param name="frq" value="10.0039146626" />
	<param name="dev" value="0.0210082066531" />
	<param name="ws" value="10" />
</node>
<node pkg="tug_ist_diagnosis_observers" type="GObs.py" name="ptz_stateGObs" >
	<param name="topic" value="ptz_state" />
	<param name="frq" value="10.004913967" />
	<param name="dev" value="0.0215566716467" />
	<param name="ws" value="10" />
</node>
<node pkg="tug_ist_diagnosis_observers" type="GObs.py" name="aioGObs" >
	<param name="topic" value="aio" />
	<param name="frq" value="10.0049840625" />
	<param name="dev" value="0.0215884196439" />
	<param name="ws" value="10" />
</node>
<node pkg="tug_ist_diagnosis_observers" type="GObs.py" name="gmapping/entropyGObs" >
	<param name="topic" value="gmapping/entropy" />
	<param name="frq" value="0.13584292461" />
	<param name="dev" value="0.00713705055664" />
	<param name="ws" value="10" />
</node>
<node pkg="tug_ist_diagnosis_observers" type="GObs.py" name="joyGObs" >
	<param name="topic" value="joy" />
	<param name="frq" value="11.1451966376" />
	<param name="dev" value="0.465157009498" />
	<param name="ws" value="10" />
</node>
</launch>
